---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import DownloadFileAction from '../components/DownloadFileAction.astro';
import Icon from '../components/Icon.astro';
---

<BaseLayout title="À propos | Alexandre Bourguignon" description="me">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="À propos"
			>
			<!-- tagline="Cette page est en construction" -->
				<img
					height="800"
					src="/assets/portrait.jpg"
					alt="Photo me représentant"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Carte d'identité</h2>
				<div class="content">
					<p>
						Nom : Bourguignon
					</p>
					<p>
						Prénom : Alexandre
					</p>
					<p>
						Age : 21 ans
					</p>
					<p>
						Adresse mail : brgn.alexandre@gmail.com
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Parcours</h2>
				<div class="content">
					<p>2021 : Obtention du Baccalauréat Général Spécialités Mathématiques et Physique-Chimie à Bouaye(44)</p>
					<p>2022 : Intégration de l'école EPITECH à Nantes(44)</p>
					<p>2023 - Maitenant : BTS SIO SLAM à La Roche-sur-Yon(85)</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">CV</h2>
				<div class="content">
					<DownloadFileAction href="https://drive.google.com/drive/folders/1_R44W_xILnol2SYYvDDtBJqpoGzxhAMr">
						Télécharger
						<Icon icon="download" size="1.2em"/>
					</DownloadFileAction>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
