---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';
import SkillPreview from '../components/SkillPreview.astro';

const projects = (await getCollection('skills')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
	title="Mes compétences | Alexandre Bourguignon"
	description="Mes compétences"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Mes compétences"
				tagline="Voici mes compétences acquises au long de mon parcours"
				align="start"
			/>
			<Grid variant="offset">
				{
					projects.map((project) => (
						<li>
							<SkillPreview project={project} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
